<settings><lang>en</lang><ignoreAncado>true</ignoreAncado><ignoreIliya>true</ignoreIliya><ignoreEpheria>true</ignoreEpheria><boatType>advance</boatType><hideTier5>false</hideTier5><hideTier4>false</hideTier4><hideTier3>false</hideTier3><hideTier2>true</hideTier2><hideTier1>false</hideTier1><carrack-need-hide-completed>1</carrack-need-hide-completed><carrackOrder><boat>balance</boat><items>CaravelProwTracking,CaravelPlatingTracking,CarrackTracking,CaravelCannonTracking,CaravelSailTracking</items></carrackOrder><disclaimer>true</disclaimer><chosenLang>true</chosenLang></settings>